{{!-- {{>navbar}} --}}
<div class="container">
    <div class="wrapper-md d-flex justify-content-center align-items-center">
        <div class="card rounded-card app-shadow login-card">
            <div class="card-body">
                <div class="text-center mb-3">
                    <a href="/">
                        <img src="/imgs/logo.png" alt="app logo" class="logo-md mb-3">
                    </a>
                </div>
                <div class="mb-4">
                    <h5 class="mb-1">Login and get organized</h5>
                    <p class="text-muted small mb-0">Use your SSMSA account to login</p>
                </div>

                <div class="text-center">
                    <a href="/login/auth/ssmsa" class="btn btn-block btn-full">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- {{>footer}} --}}
